@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

body {
  font-family: "Roboto", Arial, sans-serif;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-btn-dark: #00008b;
  --color-btn-dark-hv: #0000cd;
  --color-btn-light: #87ceeb;
  --color-btn-light-hv: #add8e6;
  --color-txt-dark: #dedede;
  --color-txt-light: #333;
  --color-page-dark: #323232;
  --color-page-light: #f3f3f3;
}
